# Refs/branches
FAIR_EVA_REF=main
OAI_PMH_PLUGIN_REF=main
WEB_REF=main

# Logging
FAIR_EVA_LOGLEVEL=info

# Si el comando de arranque difiere en tu repo, cámbialo aquí:
FAIR_EVA_START_CMD=fair-eva

# Plugin OAI-PMH
OAI_PMH_BASEURL=https://zenodo.org/oai2d

# Web client -> backend
VITE_API_BASE=http://localhost:9090
